---
- name: manage dns records
  hosts: localhost
  gather_facts: no
  connection: local
  vars:
    domain: "{{ lookup('env','DOMAIN') }}" 
    ip: "{{ lookup('env','IP') }}"
    aak: "{{ lookup('env','AWS_ACCESS_KEY') }}"
    ask: "{{ lookup('env','AWS_SECRET_ACCESS_KEY') }}"
  tasks:
    - name: Add an a-record for domain
      route53:
        aws_access_key: "{{ aak }}"
        aws_secret_key: "{{ ask }}"
        state: present
        zone: "{{ domain }}"
        record: "{{ domain }}"
        type: A
        value: "{{ ip }}"
    - name: Add an a-record for host
      route53:
        aws_access_key: "{{ aak }}"
        aws_secret_key: "{{ ask }}"
        state: present
        zone: "{{ domain }}"
        record: "mail.{{ domain }}"
        type: A
        value: "{{ ip }}"
    - name: Add an mx-record
      route53:
        aws_access_key: "{{ aak }}"
        aws_secret_key: "{{ ask }}"
        state: present
        zone: "{{ domain }}"
        record: "{{ domain }}"
        type: MX
        value: "10 mail.{{ domain }}"
